button {
  position: relative;
  padding: 20px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: #252525;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  transform-origin: center;
}
button:active {
  transform: scale(0.97); 
}